

.container-search {
    background-image: url("../../Assets/pexels-roman-odintsov-4551832.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.search-btn {
    padding: auto;
    border-radius: 5px;
    height: 40px;
    margin-top: -3px !important;
 
}

.search {
    color: white;
     border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    overflow: hidden;
    text-align: center;
}